<a href="https://colab.research.google.com/github/analystshivajee/python-tutorial/blob/main/For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in "Thiruvanantampuram":
  print(i)

T
h
i
r
u
v
a
n
a
n
t
a
m
p
u
r
a
m

In [ ]:
for i in [12,23,34,45,56,67,89]:
  print(i)

12
23
34
45
56
67
89

In [ ]:
for i in (12,23,34,45,56,67,89):
  print(i)

12
23
34
45
56
67
89

In [ ]:
for i in {12,23,34,45,56,67,89}:
  print(i)

34
67
12
45
23
56
89

In [ ]:
for i in {1:1,2:4,3:9,4:16}:
  print(i)

1
2
3
4

In [ ]:
for i in range(10):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1, 11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1, 100, 4):
  print(i, end=" ")

1 5 9 13 17 21 25 29 33 37 41 45 49 53 57 61 65 69 73 77 81 85 89 93 97

In [ ]:
for i in range(10):
  print("Shivajee")

Shivajee
Shivajee
Shivajee
Shivajee
Shivajee
Shivajee
Shivajee
Shivajee
Shivajee
Shivajee

In [ ]:
for i in range(1,11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(2, 100, 2):
  print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [ ]:
for i in range(1, 100):
  if i%2==0:
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [ ]:
se=0
so=0
for i in range(1, 101):
  if i%2==0:
    se=se+i
  else:
    so=so+1
print("Sum of even is: ",se)
print("Sum of odd is: ",so)

Sum of even is:  2550
Sum of odd is:  50

In [ ]:
a= int(input("Enter a number: "))
fact=1
for i in range(1,a+1):
  fact=fact*i
print("Factorial is: ",fact)

Enter a number: 5
Factorial is:  120

In [ ]:
a= int(input("Enter a number: "))
fact=1
for i in range(a,0, -1):
  fact=fact*i
print("Factorial is: ",fact)

Enter a number: 5
Factorial is:  120

In [ ]:
n=int(input("Enter a number: "))
for i in range(1, n+1):
  if n%i==0:
    print(i, end=" ")

Enter a number: 12
1 2 3 4 6 12

In [ ]:
a=(1,2,3,4,56,7)
for i in a:
  if i%2==0:
    print(i)
  else:
    print("Bye")

Bye
2
Bye
4
56
Bye

In [ ]:
s1='a'
for i in range(5):
  print(s1*i)

a
aa
aaa
aaaa

In [ ]:
s1='a'
for i in range(5):
  print(s1*i,end=" ")

 a aa aaa aaaa

In [ ]:
st='iit madras'
for i in st:
  print(i, end="@")

i@i@t@ @m@a@d@r@a@s@

In [ ]:
st='iit madras'
for i in st:
  print(i, end="\n")

i
i
t

m
a
d
r
a
s

In [ ]:
st='iit madras'
for i in st:
  print(i, end="\t")

i	i	t	 	m	a	d	r	a	s

In [ ]:
a="hello everyone how are you"
vowel =["a", "e", "i", "o", "u"]
for i in a:
  if i in vowel:
    print(i)

e
o
e
e
o
e
o
a
e
o
u

In [ ]:
a=["hello everyone how are you","Shivajee"]
for i in a:
  if i=="Shivajee":
    print(i)

Shivajee

In [ ]:
word="hello1"
for w in word:
  if w=="l":
    print("good one")
else:
  print("data science")

good one
good one
data science

In [ ]:
name="arpit"
for i in name:
  if i=="p":
    print("that's great")
  print(i)
  print("hello")
print(i)

a
hello
r
hello
that's great
p
hello
i
hello
t
hello
t

In [ ]:
for i in range(2, 100):
  n=i
  j=1
  co=0
  while j<=n:
    if n%j==0:
      co=co+1
    j=j+1
  if co==2:
    print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
for i in range(11, 1000):
  n=i
  rev=0
  while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10

  if rev==i:
    print(i, end=" ")

11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999